
.non-resize {
	resize:none;		
}

.more-icon {
	font-size:18px;	
}

.likeBtn:hover {
	text-decoration:none;
}

.heart-icon {
	font-size:20px;
}

.image-icon {
	color:black;
	font-size:20px;
}


.big-icon {
	font-size:25px;
}

.middle-size {
	font-size:14px;
}