#wrap {
    width:600px;
    height:800px;
    margin:auto;
}

header {
    height:80px;
}

.store-link {
    color:black
}

.store-link:hover {
    text-decoration: none;
    color:#1b91a9;
}

.menu {
    font-size:12px;
    background-color: #e1e1e1;
}

footer {
    height:70px;
}

