<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hagulu.test.lesson03.dao.RealEstateDAO">
 
 
 	<!-- SELECT 다루기 -->
 	<!-- 1. id 로 select 하기  --> 
 	<select id="selectRealEstate" parameterType="int" resultType="com.hagulu.test.lesson03.model.RealEstate">
 		SELECT 
 			`id` 
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt` 
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<!--  2. 월세 조건 select -->
 	<select id="selectRealEstateAsRent" parameterType="int" resultType="com.hagulu.test.lesson03.model.RealEstate">
		SELECT 
 			`id` 
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt` 
 		FROM
 			`real_estate`
 		WHERE
 			`rentPrice` <![CDATA[<]]>  #{rentPrice}
 	
 	</select>
 	
 	<!-- 3. 복합조건 select -->
 	<select id="selectRealEstateAsArea" parameterType="map" resultType="com.hagulu.test.lesson03.model.RealEstate">
 		SELECT 
 			`id` 
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt` 
 		FROM
 			`real_estate`
 		WHERE
 			`type` = '매매'
 			AND `area` <![CDATA[>=]]>  #{area}
 			AND `price` <![CDATA[<=]]>  #{price}
 		ORDER BY `price`
 	</select>
 	
 	
 	<!-- INSERT 다루기 --> 
 	
 	<!-- 1. 객체로 insert 하기 --> 

	<insert id="insertRealEstate" parameterType="com.hagulu.test.lesson03.model.RealEstate">
		INSERT INTO `real_estate`
		(
			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt` 
		) 
		VALUES (
			#{realtorId},
			#{address},
			#{area},
			#{type},
			#{price},
			#{rentPrice},
			now(),
			now()
		)
	</insert>



	<!-- 2. field 로 insert 하기 --> 
	
	<insert id="insertRealEstateAsField" parameterType="map">
		INSERT INTO `real_estate`
		(
			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt` 
		) 
		VALUES (
			#{realtorId},
			#{address},
			#{area},
			#{type},
			#{price},
			#{rentPrice},
			now(),
			now()
		)
	</insert>
 	
 	<!-- UPDATE 다루기 -->
 	
 	<update id="updateRealEstateById" parameterType="map">
 		UPDATE `real_estate`
 		SET
 			`type` = #{type},
 			`price` = #{price}
 		WHERE
 			`id` = #{id}
 	</update> 

 
 </mapper>