table, th, td {border: 1px solid black; border-collapse: collapse;}

th {height:30px;}
td {vertical-align: top; width:150px; height:100px; padding:10px; font-size:15px;}
td:hover {background-color: lightsteelblue;}

.year {font-size:20px;}
.month {font-size:50px; font-weight: bold;}

.holiday {color:red}

.today {background-color: lightyellow; font-weight: bold;}